section {
    background-color: #183440;
    color: #FFFFFF;
    margin-top: 4%;
    padding: 1%;
}

article {
    background-color: white;
    border-radius: 3em;
    color: #000000;
    margin-top: 1%;
    padding: 2%;
}

aside {
    background-color: #183440;
    border-radius: 3em;
    width: 25%;
    float: right;
    padding: 2%;
    margin-top: 1%;
    color: #FFFFFF;
}